@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  font-family: "poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
h1 {
  text-align: center;
  color: rgb(175, 109, 242);
  opacity: 0.4;
  font-size: 4rem;
}
form {
  max-width: 100%;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.input {
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
  border: none;
}
.input::placeholder {
  color: #d5d5d5;
}
.todos {
  background-color: white;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.todos li {
  border-top: 1px solid #e5e5e5;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
}
.todos li.completed {
  text-decoration: line-through;
  color: #b6b6b6;
}
small {
  color: #d5d5d5;
  margin-top: 3rem;
  text-align: center;
}
